.app{
    text-align: center;
    margin:0 auto;
    width:50%
}

p{
    font-size:2rem;
}

#hashWord{
    letter-spacing: 5px
}
span{
    border: 2px solid black;
    width:40px;
    height:30px;
    display:inline-block;
    margin: 1.5rem 2px;
    transition: 100ms linear;
    background-color: white;
    font-size:1.6rem;
    border-radius:5px;
}

span:hover{
    cursor:pointer;
    transform:rotate(5deg);
}

.keyboard{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.grey{
    background-color: rgb(160, 160, 160);
}

span:active{
    transform: scale(2.5) rotate(-10deg);
}

@media screen and (max-width:880px){
    .app{
        width:95%;
        margin:0 auto;
    }
    span{
        border: 1px solid black;
        height:40px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 2px;
    }
}